@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}
body {
    font-family: Montserrat-SemiBold;
    color: rgba(30, 14, 98, 1);
    background-color: white;

}
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9vw;
    transition: 0.5s;
}
a:hover {
    color: pink;
}
.container_error {
    color: white;
    display:flex ;
    width: 100vw;
    font-size: 2vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url(../image/fon.webp);
}
.error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 2/1;
}
.error span {
    font-size: 16vw;
}
@media (max-width: 700px) {
    .error {
        width: 99%;
        aspect-ratio: 1.5/1;
        font-size: 6vw;
    }
    a {
        font-size: 5vw;
    }
    .error span {
    font-size: 40vw;
}
}